<script src="/socket.io/socket.io.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="/js/jquery-ui-1.10.4.custom.js"></script>
<script>
$(function() {
  $( "#tabs" ).tabs();
});
</script>
<script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDiG9_G2je7aqBZnjskcTTILnhesRGQS4E&sensor=false">
</script>
<script type="text/javascript">

// Standard Google Map call begin
function initialize() {
  var styles = [
  {
    "stylers": [
      { "saturation": -100 }
    ]
  },{
    "featureType": "road",
    "stylers": [
      { "hue": "#00b2ff" },
      { "saturation": 43 }
    ]
  },{
    "featureType": "landscape",
    "stylers": [
      { "hue": "#007fff" },
      { "lightness": 30 },
      { "saturation": 47 }
    ]
  },{
    "featureType": "poi",
    "stylers": [
      { "hue": "#0099ff" },
      { "saturation": 26 }
    ]
  },{
    "featureType": "water",
    "stylers": [
      { "hue": "#00a1ff" },
      { "saturation": 72 }
    ]
  },{
  }
];
var styledMap = new google.maps.StyledMapType(styles,{name: "Zacks Styles"});

  var mapOptions = {
    center: new google.maps.LatLng(32.71533, -117.15726),
    zoom: 9,
    scrollwheel: false,
    scaleControl: true,
    styles: styles
  };
  var map = new google.maps.Map(document.getElementById("map-canvas"),
      mapOptions);

  var socket = io.connect();
  socket.on('photo', function (data) {
    var currentLat = data.lat;
    var currentLng = data.long;


    var southWestLat = map.getBounds().getSouthWest().lat();
    var southWestLng = map.getBounds().getSouthWest().lng();
    var northEastLat = map.getBounds().getNorthEast().lat();
    var northEastLng = map.getBounds().getNorthEast().lng();

    //IF FOR HASHTAG SUBSCRIPTION
    if (currentLat > southWestLat && currentLat < northEastLat && currentLng > southWestLng && currentLng < northEastLng) {
      console.log(data.tags);

      var icon = new google.maps.MarkerImage)
        data.img, // url
        new google.maps.Size(80, 80)
      );

      marker = new google.maps.Marker({
        position:  new google.maps.LatLng(data.lat, data.long),
        draggable: true,
        animation: google.maps.Animation.DROP,
        icon: icon,
        map: map,
        title: data.caption,
      });
      
      var igComments = [];
      for (var i = 0, commentLength = data.comments.length; i < commentLength; i++) {
        igComments.push(
            '<div class="comment-box"><span class="commenter">' + data.comments[i].from.username + '</span>' +
            '<span class="comment">' + data.comments[i].text + '</span></div>'
            )
      }
      var igBox = 
        '<div class="post-box">' +
        '<a href="' + data.url + '" target="_blank">' + 
        '<img src="' + data.img + '">' + 
        '</a>' + 
        '<div class="userinfo">' +
        '<img src="' + data.userpic + '">' + 
        '<span class="name">' + data.username + '</span>' +
        '<span class="caption">' + data.caption + '</span>' +
        '</div>' +
        '<div class="comments">' + igComments.join('') + '</div>' +
        '</div>';

      $('#latest-post').prepend(igBox).fadeIn(500);

      var infowindow = new google.maps.InfoWindow({
          content: igBox,
          maxWidth: 350
      });
      google.maps.event.addListener(marker, 'click', function() {
        infowindow.open(map,marker);
      });

    } // endif


  });

  // Try HTML5 geolocation
  if(navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position) {
      var pos = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
      map.setCenter(pos);
    }, function() {
      handleNoGeolocation(true);
    });

    google.maps.event.addListener(map, 'idle', function() {
      // Is this even necessary?
    });

  } else {
    // Browser doesn't support Geolocation
    handleNoGeolocation(false);
  }
}

function handleNoGeolocation(errorFlag) {
  if (errorFlag) {
    var content = 'Error: The Geolocation service failed.';
  } else {
    var content = 'Error: Your browser doesn\'t support geolocation.';
  }

  var options = {
    map: map,
    position: new google.maps.LatLng(60, 105),
    content: content
  };

  var infowindow = new google.maps.InfoWindow(options);
  map.setCenter(options.position);

}
// Finally, call map
google.maps.event.addDomListener(window, 'load', initialize);
</script>
</body>
</html>