<% include header.ejs %>
<h1><%= someVariable %></h1>
<div class="content">
	<div id="map-canvas"></div>
	<div id="instagram"></div>
</div>
<div id="sidebar">
	<div id="latest-post"></div>
</div>

<% include footer.ejs %>