.content {
	float: left;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
}
#map-canvas {
	width: 100%;
	min-height: 500px;
	height: 100%;
}
.post-box img {
    width: 150px;
    height: auto;
}
.post-box {
    width: 100px;
}
.post-box a {
    display: block;
    float: left;
    padding: 1%;
}
/*#sidebar {
	float: left;
	width: 40%;
	background: #b2d0fe;
	overflow-y: auto;
	height: 100%;
	position: absolute;
	right: 0;
}*/
#latest-post .post-box img {
    width: 100%;
    display: block;
    padding: 0%;
}
#latest-post .post-box {
    width: 33.3%;
    float: left;
}
.gm-style div div div div div img {
    width: 100% !important;
    height: 100% !important;
}