.content {
    float: left;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
}
#map-canvas {
    width: 100%;
    min-height: 500px;
    height: 100%;
}
.post-box {
    width: 100px;
}
.post-box a {
    display: block;
    float: left;
}
.post-box img {
    width: 150px;
    height: auto;
}
#latest-post {
    max-width: 510px;
    margin: 0 auto;
    width: 100%;
}
/*.ui-tabs-nav li {
    background: #edeeef !important;
    width: 49%;
}*/
#tabs-2 {
    overflow: hidden;
    background: #edeeef;
}
.ui-tabs-nav li {
    background: #edeeef !important;
}
#latest-post .post-box img {
    width: 100%;
    display: block;
    padding: 0%;
    float: left;
    padding-right: 10px;
}
#latest-post .post-box {
    width: 100%;
    overflow: hidden;
    margin-bottom: 20px;
    background: #fff;
}
#latest-post .post-box .userinfo img {
    width: 50px;
    margin-bottom: 15px;
}
.userinfo {
    width: 96%;
    padding: 2%;
    float: left;
    border-bottom: 1px solid #e6e6e6;
    
    margin-bottom: 0;
    word-wrap: break-word;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.04);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.04);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.04);
}
.commenter {
    font-weight: bold;
    margin-right: 5px;
    color: #3f729b;
}
.comment {
    width: 80%;
}
.commenter, .comment {
    font-size: 12px;
    word-wrap: break-word;
}
.comments {
    float: left;
    width: 96%;
    padding: 2%;
}
.comment-box {
    float: left;
    width: 96%;
    padding: 4px 2%;
}
#latest-post .post-box .name {
    display: block;
    float: left;
}
#latest-post .post-box .caption {
    width: 100%;
    display: block;
    float: left;
    font-size: 13px;
}
.gm-style div div div div div img {
    width: 100% !important;
    height: 100% !important;
}
#tabs, .ui-tabs .ui-tabs-panel, .ui-tabs .ui-tabs-nav {
    background: transparent;
    border: 0;
    padding: 0;
}
.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
    background: #fff;
    border: 0;
    text-align: center;
    width: 100%;
    padding: 10px 0;
}
.ui-tabs .ui-tabs-nav li {
    border-radius: 0;
    margin: 0;
    width: 50%;
    background: #fff;
    border: 0;
}
.ui-tabs-active a {
    background: #efefef !important;
}