body {
    margin: 0;
    background: #4B8EAE;
}
#tabs {
    height: 100%;
}
.content {
    float: left;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
}
#map-canvas {
    width: 100%;
    min-height: 600px;
    height: 100%;
}
.post-box a {
    display: block;
    float: left;
}
.post-box img {
    width: 100%;
    height: auto;
}
#latest-post {
    width: 98%;
    -moz-column-count: 5;
    -moz-column-gap: 10px;
    -moz-column-fill: auto;
    -webkit-column-count: 5;
    -webkit-column-gap: 10px;
    -webkit-column-fill: auto;
    column-count: 5;
    column-gap: 15px;
    column-fill: auto;
    margin: 1% auto;
}
#tabs-2 {
    overflow: hidden;
    background: #edeeef;
}
.ui-tabs-nav li {
    background: #edeeef !important;
    border-top: 1px solid #000;
}
#latest-post .post-box {
    width: 100%;
    margin-bottom: 20px;
    background: #fff;
    display: inline-block;
    -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
#latest-post .post-box img {
    width: 100%;
    display: block;
    padding: 0%;
    float: left;
    padding-right: 10px;
}
#map-canvas .post-box {
    height: 350px;
}
.post-box .name {
    display: block;
    float: left;
    color: #3f729b;
    font-weight: bold;
    text-decoration: none;
}
.post-box .name:hover {color:#000;}
.post-box .caption {
    width: 100%;
    display: block;
    float: left;
    font-size: 13px;
}
#latest-post .post-box .userinfo img {
    width: 50px;
    margin-bottom: 15px;
}
.userinfo {
    width: 96%;
    padding: 2%;
    float: left;
    margin-bottom: 0;
    word-wrap: break-word;
}
.commenter {
    font-weight: bold;
    margin-right: 5px;
    color: #3f729b;
}
.comment {
    width: 80%;
}
.commenter, .comment {
    font-size: 12px;
    word-wrap: break-word;
}
.comments {
    float: left;
    width: 96%;
    padding: 2%;
}
.comment-box {
    float: left;
    width: 96%;
    padding: 4px 2%;
}
.comment-box:first-child {
    border-top: 1px solid #ddd;
}
.post-box .userinfo img {
    width: 50px;
    display: block;
    float: left;
    margin: 0 5px 5px 0;
}
#tabs, .ui-tabs .ui-tabs-panel, .ui-tabs .ui-tabs-nav {
    background: #4B8EAE !important;
    border: 0;
    padding: 0 !important;
}
.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
    background: #fff;
    border: 0;
    text-align: center;
    width: 100%;
    padding: 3% 0 !important;
}
.ui-tabs .ui-tabs-nav li {
    border-radius: 0;
    margin: 0 !important;
    width: 50%;
    background: #efefef;
    border: 0;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active a {
    background: #4B8EAE;
    color: #fff;
}